---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
  <div class="tags">
    {% for tag in page.tags %}<a href="/tag/#{{ tag }}">#{{ tag }}</a> {% endfor %} <a href="{{site.github.githubEditBaseURL}}{{ page.path }}" class="pull-right">Edit</a>
  </div>
</div>

<div class="pagination">
  {% if page.previous %}
  <a class="pagination-item older" href="{{ page.previous.url }}">{{ page.previous.title }}</a>
  {% else %}
  <span class="pagination-item older">Older</span>
  {% endif %}
  {% if page.next %}
  <a class="pagination-item newer" href="{{ page.next.url }}">{{ page.next.title }}</a>
  {% else %}
  <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

<div id="SOHUCS"></div>
<script>
  (function(){
    var appid = 'cyr4y3zQe',
    conf = 'prod_6721e8332154c61a68a38816866a869f';
    var doc = document,
    s = doc.createElement('script'),
    h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
    s.type = 'text/javascript';
    s.charset = 'utf-8';
    s.src =  'http://assets.changyan.sohu.com/upload/changyan.js?conf='+ conf +'&appid=' + appid;
    h.insertBefore(s,h.firstChild);
    window.SCS_NO_IFRAME = true;
  })()
</script>  


